# LaTeX / Org export
*.pdf
*.tex

# minted cache
_minted/

# python
__pycache__/
*.pyc

# simulation outputs
intermediate/
intermediates/

# archives
*.tar
*.gz
*.ziplab4/product/
lab8/data
lab8/intermediates
lab8/debug_data
lab8/wandb